*:root {
  --font-36: 36px;
  --font-18: 18px;
  --font-14: 14px;
  --font-12: 12px;
  --font-10: 10px;

  --charade: #252731;
  --light-charade: #2A2C36;
  --extra-light-charade: #3a3d4b;
  --valencia: #D63030;
  --shamrock: #39CC97;
  --white: #FFF;

  font-weight: 600;

  background-color: var(--charade);
  scrollbar-color: transparent transparent;

  scrollbar-width: thin;
  font-family: 'Rubik', sans-serif;
}

h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px 20px 80px 20px;

  overflow-x: hidden;
}

.App {
  font-family: 'Rubik', sans-serif;
}

.loading {
  left: 50vw;
  top: 50vh;
  margin: 0;

  transform: translate(-50%, -50%);
  color: var(--white);

  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}