.MobileAccount {
    width: calc(100% - 40px);

    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.MobileAccount__ImageContainer {
    top: -60px;
    border-radius: 50%;

    background-color: var(--charade);

    position: absolute;
}

.MobileAccount__ProfileIcon {
    width: 80px;
    height: 80px;

    border-radius: 50%;

    border: 2px solid var(--charade);

    object-fit: cover;
}

img .MobileAccount__ProfileIcon:not([src]) {
    visibility: hidden;
}

.MobileAccount__Name {
    padding: 25px 0 0 0;
    margin: 0;
    font-weight: 600;

    font-size: var(--font-18);
    color: var(--white);
}

.MobileAccount__Username {
    padding: 0;
    margin: 0;
    font-weight: 300;

    font-size: var(--font-14);
    color: var(--white);
}

.MobileAccount__Placeholder__Name {
    height: 16.5px;
    width: 100px;

    margin-top: 28px;

    background-color: var(--light-charade);
}

.MobileAccount__Placeholder__Username {
    height: 16px;
    width: 80px;

    margin: 4px 0 0 0;

    background-color: var(--light-charade);
}