.MobileStoriesView {
    margin: 20px 0;
    grid-gap: 20px;

    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.MobileStoriesView::-webkit-scrollbar {
    display: none;
}

.MobileStoriesView__Upload {
    width: 100px;
    height: 175px;

    border-radius: 10px;
    margin: 0 0 20px 0;

    background-color: var(--light-charade);

    position: relative;
}

.MobileStoriesView__Upload[loadingimage = true] {
    opacity: 0.5;
}

.MobileStoriesView__Upload__Button {
    width: 100px;
    height: 175px;

    margin-bottom: 4px;
    opacity: 0;
}

.MobileStoriesView__Upload__Button:disabled {
    cursor: not-allowed;
}

.MobileStoriesView__Upload__Icon {
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    position: absolute;
}