.MobileStoryThumbnail {
    width: 100px;
}

.MobileStoryThumbnail__Image {
    height: 175px;
    width: 100px;

    border-radius: 10px;
    background-color: var(--light-charade);

    object-fit: cover;
}

.MobileStoryThumbnail__Username {
    width: 100px;

    margin: 0;
    font-weight: 600;
    line-height: 14.5px;

    color: var(--white);
    font-size: var(--font-12);

    text-align: center;
}